@model reserva_sala_reuniao.Models.Sala

@{
    ViewData["Title"] = "Delete";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1 class="text-center">Delete</h1>
                    <h3 class="text-center">Tem certeza que deseja deletar essa sala?</h3>                    
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Localizacao)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Localizacao.Nome)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.LotacaoMaxima)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LotacaoMaxima)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-center">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-link">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


