@model reserva_sala_reuniao.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 mb-5 bg-white rounded">
                <div class="card-body">
                    <h1 class="text-center">Criar nova reserva</h1>
                    <hr />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Data" class="control-label"></label>
                            <input asp-for="Data" class="form-control" />
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="HorasReservadas" class="control-label"></label>
                            <input asp-for="HorasReservadas" class="form-control" />
                            <span asp-validation-for="HorasReservadas" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="SalaId" class="control-label"></label>
                            <select asp-for="SalaId" class="form-control" asp-items="ViewBag.SalaId"></select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UsuarioId" class="control-label"></label>
                            <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
